.tav-container{
	font-family: roboto mono;
	font-size: 10px;
	width: 100%;
	height: 100%;
	position: relative;
}
.tav-container * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.tav-viewer{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 60px;
}
.tav-info{
	position: absolute;
	left: 0;
	height: 60px;
	right: 0;
	bottom: 0;
}
.tav-row-gutter{
	position: absolute;
	width: 200px;
	left: 0;
	top: 0;
	bottom: 0;
}
.tav-cells-container{
	position: absolute;
	left: 200px;
	top: 0;
	right: 0;
	bottom: 0;
}
.tav-cell{
	border: 1px solid white;
	background-color: #efefef;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}
.tav-cell:hover{
	background-color: #dae4ea;
}
.tav-cell.selected{
	background-color: #6b9aba;
}
.tav-gutter-cell{
	border: 1px solid white;
	background-color: #efefef;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.line{
	background-color: #ffffff;
}
